#backgroundImg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    display: flex;              
    align-items: center;       
    justify-content: flex-start;
}

#parrotImg {
    height: 12vh;
    padding-left: 2em;
}

#head-txt {
    padding-left: 1em;
}

#head-txt > h1 {
    color: lightgreen;
    margin-bottom: 0;
}

#head-txt > p {
    margin-top: 0;
    color: white;
}

#main, #section {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 33vh; 
  margin: 0;
}

main > p {
    color: lightseagreen;
}

main > textarea {
  width: 80%;    
  max-width: 400px; 
  height: 150px;
  font-size: 16px;
  padding: 10px;
  resize: vertical;
  background-color: lightgray;
  border: 0;
  border-radius: 10px;
}

section > p {
    color: lightseagreen;
    margin-top: 2em;
}

#checkbox-div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
}

.checkbox-row {
    display: flex;
    align-items: center; 
    gap: 8px;            
}

.flag {
    width: 30px;   
    height: auto; 
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;  
  cursor: pointer;
  position: relative;
}

.checkbox:checked::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
}

#translate-btn {
    margin-top: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 80%;
    background-color: lightseagreen;
    border:none;
    border-radius: 10px;
    color: white;
}

#border {
    border: black 2px solid;
    border-radius: 10px;
    padding-bottom: 2em;
    margin-top: 0.5em;
}

